/* View.css */


.view {
 background-color:#D2E5D8;
  padding: 20px;
  height: 100vh;
  min-height: auto;
  max-height: 100vh auto;
  /* background-image: url('./eve.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; */
 }

.card-list {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
  width:100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 15px;
  /* width: calc(50% - 20px); */
}

.card {
  background-color: floralwhite;
  padding: 20px;
  border: 1px solid #ccc;
  width: calc(20% - 20px);
  /* max-width: 30%; */
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  /* padding: 20px; */
  flex: 1;
  min-width: 280px; 
  /* text-align: center;  */
}

.text-holder h3 {
  margin:0 ;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: darkred;
}
.text-holder p {
  margin: 5px 0;
  font-size: 1rem; 
}
/* .text-holder button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
} */
@media (max-width: 768px) {
  
  .card {
    width: calc(50% - 20px);
    
    
  }
}








