.navbar {
  background-color: rgb(34, 193, 195);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  font-size: 20px;
  /* padding: 5px 10px; */
  margin: 0 5px;
  width: 30px;
  background-color: #dee2e6;
  border: none;
}

.pagination span {
  font-size: 20px;
  margin: 0 5px;
}



.approve-button:hover {
  background-color: green; /* Change to green when hovered */
}

.reject-button:hover {
  background-color: green; /* Change to green when hovered */
}

